.section-controls {
  position: fixed;
  right: 20px;
  height: 80px;
  width: 30px;
  top: calc(50vh - 15px);
  font-family: "Abel", sans-serif;
  &__boxes {
    transition: 0.4s ease-out;
  }
}

.line-one,
.line-two {
  display: inline-flex;
}

.box {
  height: 10px;
  width: 10px;
  background-color: white;
  margin: 3px;
  transition: 0.3s ease-out;
  border-radius: 50%;

  &.active {
    transform: scale(1.3);
    background-color: greenyellow;
    transition: 0.3s ease-out;
  }
}

.section-text {
  transform: rotate(90deg);
  position: absolute;
  color: white;
  opacity: 0;
  transition: 0.3s ease-out;
  width: 120px;

  &.active {
    opacity: 1;
    transition: 0.3s ease-out;
  }

  & .text {
    top: 35px;
    right: -55px;
    position: relative;
  }
}
