input[type="range"] {
  -webkit-appearance: none;
  height: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  border: 0px solid #000000;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.range-input {
  display: flex;
  flex-direction: column;

  & input {
    margin-bottom: 5px;
  }

  &__upper {
    display: flex;

    & label {
      flex-grow: 2;
    }

    & p {
      margin: 0;
    }
  }

  &__value-display {
    padding-top: 1px;
    height: 16px;
    width: 28px;
    border-radius: 3px;
    background-color: #696969;
    text-align: center;
  }

  &__lower {
    display: flex;
    margin-bottom: 20px;

    & p {
      margin: 0;
    }
  }
  &__min {
    flex-grow: 2;
  }
}
