.reveal-text-container {
  overflow: hidden;
  white-space: nowrap;

  & span {
    transform: translate(0, 100%);
    transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;

    &.open {
      transform: translate(0, 0);
      transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
    }
  }
}

@keyframes reveal {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, 0);
  }
}
