.c-navigation {
  color: white;
  align-items: center;
  width: 100%;
  position: absolute;
  left: 0;
  z-index: 3;
  & svg {
    padding: 20px;
  }

  & .c-nav-item {
    & a {
      color: white;
      text-decoration: none;
    }
  }
}

a {
  text-decoration: none !important;
}

.menu-open {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 265px;
  background-color: #1b1b1b;
  z-index: 2;
}

.c-nav-item {
  padding: 20px;
  color: white;
  text-decoration: none !important;

  &:hover {
    background-color: #434343;
    transition: 0.2s ease;
    border-left: 5px solid white;
  }
}
