.c-controls {
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;
  left: 0;
  background-color: #1b1b1b;
  display: grid;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-shadow: 0px -3px 6px rgba(0, 0, 0, 0.5);
  transition: 0.3s ease-out;

  &.closed {
    bottom: -100px;
  }

  &__open-close {
    position: absolute;
    bottom: 100px;
    width: 150px;
    background-color: #1b1b1b;
    left: calc(50vw - 75px);
    display: grid;
    height: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 0 0;
    z-index: 4;
    cursor: pointer;

    &.open svg {
      transform: rotate(180deg);
    }

    & svg {
      transition: 0.3s ease-out;
    }
  }
}

.c-controls-container {
  display: grid;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;

  & p {
    margin: 1px;
  }
}

.c-controls__artist {
  font-size: 12px;
}

.c-controls-song-select {
  position: absolute;
  right: 20px;
  margin-top: 3px;
}

.c-controls-select-modal {
  position: fixed;
  top: 80px;
  width: 267px;
  left: calc(50vw - 133px);
  height: calc(100vh - 150px - 100px);

  &__background {
    height: 100%;
    width: 100%;
    background-color: #1b1b1b;
    opacity: 0.8;
  }

  &__content {
    position: absolute;
    margin-top: 40px;
    top: 0;
    width: 100%;
    text-align: center;
    color: white;
    height: calc(100% - 40px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;

    & div {
      padding: 10px 0px 10px 0px;

      & p {
        padding: 0;
        margin: 0;
      }

      & p:last-child {
        font-size: 12px;
      }

      &:hover p {
        font-weight: bold;
        cursor: pointer;
      }
    }
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 2;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1b1b1b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

.c-controls-buttons {
  justify-content: center;
  display: flex;
  align-items: center;

  & svg {
    margin-top: 5px;
    padding: 6px;
  }
}

.variable-controls {
  position: fixed;
  right: 0px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  top: 0px;
  height: 100%;
  transition: 0.3s ease-out;

  &.closed {
    right: -200px;
    transition: 0.3s ease-out;

    & svg {
      transform: rotate(180deg);
      transition: 0.3s ease-out;
    }
  }

  & svg {
    transition: 0.3s ease-out;
  }

  &__open-close {
    position: relative;
    top: -25px;
    left: -25px;
    cursor: pointer;
  }
}

.variable-controls-container {
  min-width: 160px;
  font-size: 12px;
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  backdrop-filter: blur(9px);
  border-radius: 3px;
  transition: 0.3s ease-out;

  & label {
    margin-bottom: 10px;
  }

  & input {
    margin-bottom: 30px;
  }
}
