.reveal-button {
  height: 80px;
  background-color: #003049;
  color: #fafaff;
  width: 0px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Abel", sans-serif;
  cursor: pointer;
  margin-top: 20px;

  transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;

  // &__back {
  //   background-color: transparent;
  //   border: 1px solid #003049;
  //   width: 300px;
  //   height: 80px;
  //   position: relative;
  //   left: -1px;
  //   top: -81px;

  //   transition: ;

  //   &:hover {
  //     height: 85px;
  //     width: 304px;
  //     left: -3px;
  //     top: -83px;
  //   }
  // }

  &.active {
    width: 300px;
    transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    transition-delay: 0.9s;

    & .reveal-button__text {
      opacity: 1;
      transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
      transition-delay: 0.9s;
    }
  }

  &__text {
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
}
