.reveal-button {
  height: 80px;
  background-color: #003049;
  color: #fafaff;
  width: 0px;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Abel", sans-serif;
  cursor: pointer;
  margin-top: 20px;

  transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;

  &.active {
    width: 300px;
    transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
    transition-delay: 0.9s;

    & .reveal-button__text {
      opacity: 1;
      transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.9s;
      transition-delay: 0.9s;
    }
  }

  &__text {
    opacity: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 1.5s cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
  }
}
