.color-picker {
  &__container {
    display: flex;
    height: 15px;
    line-height: 13px;
    margin-bottom: 20px;
  }

  &__color-block {
    height: 13px;
    width: 13px;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 90px;
  }

  &__controls {
    position: absolute;
    left: -70px;
    z-index: 10;
  }

  &__backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 9;
  }
}
