.landing-content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.top-left-container {
  position: fixed;
  top: 15vh;
  left: 15vw;
  width: 30vw;
  height: 30vh;
}

.landing-text {
  color: white;
  font-size: 20px;
}
