.landing-content {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.top-left-container {
  position: fixed;
  top: 15vh;
  left: 10vw;
  height: 30vh;
  align-items: right;
}

.bottom-right-container {
  position: fixed;
  top: 65vh;
  right: 10vw;
  height: 30vh;
  align-items: left;
}

.top-right-container {
  position: fixed;
  top: 15vh;
  right: 10vw;
  height: 30vh;
  align-items: right;
}

.bottom-left-container {
  position: fixed;
  top: 65vh;
  left: 10vw;
  height: 30vh;
  align-items: left;
}

.landing-text {
  color: white;
  font-size: 35px;
}

.scroll-indicator {
  position: fixed;
  bottom: 10px;
  left: calc(50% - 30px);
  color: white;
}
